/* lg */
@media (min-width: 1200px) {
 /* Make Navigation Toggle on Desktop Hover */
.dropdown:hover .dropdown-menu {display: block;
      -webkit-animation: fadeInUp 400ms;
      animation: fadeInUp 400ms;
  }
.main-body-margin-top{margin-bottom: 33px}
}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {
.imglogo{height: 50px; width: 335px;margin-left: 38px;}

 /* Make Navigation Toggle on Desktop Hover */
.dropdown:hover .dropdown-menu {display: block;
      -webkit-animation: fadeInUp 400ms;
      animation: fadeInUp 400ms;}
.navbar-nav > li { margin-left: 10px;}
.navbar-collapse { padding-left: 0;padding-right: 0;}
.navbar-nav {margin-top: 0px;}
.discover-text {margin-top: 17px}
.discover-text1{font-size: 80px}
.discover-text2{font-size: 50px}
.video-container{ margin: -296px 21px 0 24px;position:relative;padding-bottom:45.25%;padding-top:30px;height:0;overflow:hidden;}
.main-body-margin-top{margin-bottom: 18px}

}
/* sm */
@media (min-width: 768px) and (max-width: 991px) {
.imglogo{height: 65px; width: 370px;margin-left: 40px;}
  /* Make Navigation Toggle on Desktop Hover */
.dropdown:hover .dropdown-menu {display: block;
      -webkit-animation: fadeInUp 400ms;
      animation: fadeInUp 400ms;}
.navbar-collapse {padding-left: 0;padding-right: 0;}
.navbar-nav > li {margin-left: 0;}
.navbar-nav {margin-top: 10px;}
.res-margin-footer{margin-bottom: 20px}
.mail-text {text-align: center}
.discover-text{margin-top: 90px;font-size: 70px}
.discover-text1{font-size: 70px}
.discover-text2{font-size: 50px}
.video-container{ margin:-358px 97px 0 28px;;position:relative;padding-bottom:41.25%;padding-top:30px;height:0;overflow:hidden;}

}

@media (min-width: 768px) and (max-width: 892px) {
.navbar-nav {margin-top: -57px;}
.footer-ver-menu  > ul,.bottom-footer {text-align: center}
.mail-text {text-align: center}
}

/* xs */
@media (max-width: 767px) {
.container > .navbar-header, .container > .navbar-collapse{margin-left: 0;}
.imglogo{height: 50px; width: 335px;margin-left: 38px;}
.navbar-nav > li {padding-bottom: 0;}
.footer-ver-menu  > ul,.bottom-footer {text-align: center}
.mail-text {text-align: center}
.discover-text1 {font-size: 67px}
.discover-text2 {font-size: 40px}
.discover-text {margin-top: 0px}
.video-bg{display: none}
.video-container{ margin:0 30px 0 30px;position:relative;padding-bottom:41.25%;padding-top:30px;height:0;overflow:hidden;}

}

@media (max-width: 480px) {
.imglogo{height: 50px; width: 335px;margin-left: 38px;}
.video-bg{display: none}
.discover-text1{font-size: 50px}
.discover-text2{font-size: 35px}
.video-container{ margin:0 10px 0 10px}

}

@media (max-width: 432px) {
.imglogo{margin-top: -52px; margin-left: 2px}
.video-bg{display: none}
.discover-text1{font-size:40px}
.discover-text2{font-size: 25px}
}