/* lg */
@media (min-width: 1200px) {
 /* Make Navigation Toggle on Desktop Hover */
.dropdown:hover .dropdown-menu {display: block;
      -webkit-animation: fadeInUp 400ms;
      animation: fadeInUp 400ms;  }
.main-body-margin-top{margin-bottom: 140px}
.main-body-index {margin-bottom: 0px;}
.imglogo{height: 59px;width: 322px;margin: -10px 0 5px -16px}
.navbar-nav{margin-top: 0px;padding-right: 40px; }
.video-container {position: relative;padding-bottom: 51.25%;padding-top: 0;height: 0; overflow: hidden;margin: -370px 29px 0 28px;}
.video-container iframe, .video-container object, .video-container embed {position: absolute;top:0px;left: 0px;width: 100%;height: 100%;}
.discover-text{margin-top: 60px;}
.discover-text1{font-size:100px}
.discover-text2{font-size:50px;}
.main-body-margin-top{margin-top: 50px; padding-top: 43px;}
}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {
 /* Make Navigation Toggle on Desktop Hover */
.main-body-margin-top{margin-top: 50px; padding-top: 43px; margin-bottom: 150px}
.imglogo{height: 59px;width: 322px;margin: -10px 0 4px -16px}
.main-body-index {margin-bottom:0px;}
.dropdown:hover .dropdown-menu {display: block;
      -webkit-animation: fadeInUp 400ms;
      animation: fadeInUp 400ms;}
.navbar-nav > li { margin-left: 10px;}
.navbar-collapse { padding-left: 0;padding-right: 0;}
.navbar-nav {margin-top: 0px;}
.discover-text {margin-top: 17px}
.discover-text1{font-size: 80px}
.discover-text2{font-size: 50px}
.main-body-margin-top{margin-bottom: 130px}
.video-container {position: relative;padding-bottom: 51.25%;padding-top: 0;height: 0;overflow: hidden;margin: -298px 20px 0 21px;}
.video-container iframe, .video-container object, .video-container embed {position: absolute;top:0px;left: 0px;width: 100%;height: 100%;}
}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
  /* Make Navigation Toggle on Desktop Hover */
.main-body-margin-top{margin-top: -25px; padding-top: 43px;}
.imglogo{height: 45px;width: 248px;margin: -10px 0 4px 0px}
.dropdown:hover .dropdown-menu {display: block;
  -webkit-animation: fadeInUp 400ms;
  animation: fadeInUp 400ms;}
.navbar-collapse {padding-left: 0;padding-right: 0;}
.navbar-nav > li {margin-left: 0;}
.navbar-nav {margin-top: -42px;padding-right: 0px;margin-right: -30px}
.res-margin-footer{margin-bottom: 20px}
.mail-text {text-align: center}
.discover-text{margin-top: 90px;font-size: 70px}
.discover-text1{font-size: 70px}
.discover-text2{font-size: 50px}
.video-container{position: relative;padding-bottom: 46.25%;padding-top: 0;height: 0;overflow: hidden;margin: -364px 97px 0 27px}
.video-container iframe, .video-container object, .video-container embed {position: absolute;top: 0px;left: 0px;width: 100%;height: 100%}
}

@media (min-width: 768px) and (max-width: 892px) {
	.main-body-margin-top{margin-top: -25px; padding-top: 43px;}
.navbar-nav {margin-top: -42px;}
.footer-ver-menu  > ul,.bottom-footer {text-align: center}
.mail-text {text-align: center}
.video-container iframe, .video-container object, .video-container embed {position: absolute;top:0px;left: 0px;width: 100%;height: 100%;}
}

/* xs */
@media (max-width: 767px) {
.main-body-margin-top{margin-top: -25px; padding-top: 43px;}
.video-bg{display: none}
.container > .navbar-header, .container > .navbar-collapse{margin-left: 0;}
.navbar-nav > li {padding-bottom: 0;}
.footer-ver-menu  > ul,.bottom-footer {text-align: center}
.mail-text {text-align: center}
.discover-text1 {font-size: 67px}
.discover-text2 {font-size: 40px}
.discover-text {margin-top: 60px}
/*.video-bg{display: none}*/
.imglogo{height: 45px;width: 248px;margin: -4px 0 0 0}
.video-container{position: relative;padding-bottom: 51.25%;padding-top: 0;overflow: hidden;margin: 0px 15px 0 15px;border:11px solid #E9E4E0;border-radius:15px;border-bottom-width: 22px }
.video-container iframe, .video-container object, .video-container embed {position: absolute;top: 0px;left: 0px;width: 100%;height: 100%}
}
@media (max-width: 600px) {
.video-container{border-bottom-width:16px}
}

@media (max-width: 480px) {
.video-bg{display: none}
.discover-text1{font-size: 50px}
.discover-text2{font-size: 35px}
.imglogo{height: 45px;width: 248px;margin:-4px 0 0 0}
.video-container{position: relative;padding-bottom: 57%;padding-top: 0;overflow: hidden;margin: 0px;border-bottom-width:16px}
.video-container iframe, .video-container object, .video-container embed {position: absolute;top: 0px;left: 0px;width: 100%;height: 100%;}
}


@media (max-width: 432px) {
.video-bg{display: none}
.discover-text1{font-size:40px}
.discover-text2{font-size: 25px}
.video-container{position: relative;padding-bottom: 52.25%;padding-top: 0;overflow: hidden;margin: 0px}
.video-container iframe, .video-container object, .video-container embed {position: absolute;top: 0px;left: 0px;width: 100%;height: 100%;}
}

@media (min-width:412px) and (max-width: 426px) {
.imglogo{height: 45px;width: 248px;margin:0 0 0 0}
}

@media (min-width:300px) and (max-width: 425px) {
.imglogo{height: 45px;width: 248px;margin:-4px 0 0 0}
.discover-text1{  font-size: 45px;}
.discover-text2{font-size:20px;}
.discover-text{margin-top: 0px}
}

@media (max-width:335px) {
.imglogo{height: 44px;width: 216px;margin:-4px 0 0 0}
}