.video-container-videopage {
  position:relative;
    padding-bottom: 41.25%;
  padding-top: 103px;
    height:0;
    overflow:hidden;
}

.video-container-videopage iframe, .video-container object, .video-container embed {
   position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.title-text{color:#fff;  margin-top: -40px; }
.nopadding{margin-top:-45px;}
.topchart{list-style: none}
.newest-slider img {  border: 1px solid rgb(208, 162, 80);width: 227px;}
.newest-slider img:hover {background-color:#FECE1A;}